.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    width: 300px;
    bottom:-40px;
    right: 0;
    z-index: -1;
    filter: brightness(80%);
}
.mywork-cotainer{
display: grid;
grid-template-columns:1fr 1fr 1fr;
gap:40px;
}
.mywork-cotainer img{
    width: 419px;
    box-sizing: border-box;
    height:280px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}
.mywork-cotainer img:hover{
    transform:scale(1.05);
    border:4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.4;
}
.mywork-showmore{
    display: flex;
    gap:15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition:0.6s;
    cursor: pointer;
}
.mywork-showmore img{
    width: 30px;
}
@media(max-width:1200px){
    .mywork{

        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 40px;
        font-weight: 600;
    }
    .mywork-title img{
        width:180px;
        right: -30px;
        top:-34px
    }
    .mywork-cotainer{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-cotainer img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size:18px;
        margin: 50px auto;
        cursor: pointer;
    }
}