.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
}
.nav-menu img{
    width:10px;

}
.Navbar img{
    height:50px;
    width:150px;
}
.connect{
    padding:20px;
    border-radius:50px;
    background:linear-gradient(267deg,#DA7C25, 0.36%,#B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition:0.5;
}.connect:hover{
    transform: scale(1.05);
}
.anchor-link{
    text-decoration: none;
    color:white;
}
.nav-men-close{
    display: none;
}
.nav-open{
    display: none;
}

@media(max-width:1220px){
    .Navbar{
        margin: 20px 50px;
    }
    .connect{
        display: none;
    }
    .nav-open{
        display: block;
        position: fixed;
        right: 30px;
        
    }
    .nav-men-close{
        display: block;
        position:relative;
        top: 30px;
        left: 290px;
        width:30px;
    }
    .nav-menu{
        position: fixed;
       display: flex;
        flex-direction: column;
        align-items:start;
        top: 0;
        gap:30px;
        background-color: rgb(0, 0, 0);
        height: 100%;
        width:350px;
        z-index: 2;
        transition:right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}