.footer{
    margin:50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 500px;

}
.footer-top-left img{
    width:200px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 30px;

}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px ;
    border-radius: 50px;
    background: #32323B;
    padding-right:60px;

}
.footer-email-input img{
    width:40px;
}
.footer-email-input input{
    outline: none;
    background:transparent;
    border: none;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 18px;

    
}
.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background:linear-gradient(267deg,#DF8908, 0.36%,#B415FF 100%);
    transition:0.4s;
    cursor: pointer;

}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size:18px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:1400px){

    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 5opx;
    }
    .footer-email-input input{
        width:200px;
        

    }
    .footer-subscribe {
       align-items: center;
       
       padding:20px 30px;
        font-size:17px;
    }
}


