.Banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.Banner img{
    margin-top:120px;
    width:250px;
    height:250px;
    border-radius: 50%;
}
.Banner h1{
text-align: center;
width:70%;
font-weight: 60Px;
font-size: 90px;
}
.Banner h1 span{
    background:linear-gradient(267deg,#DF8908, 0.36%,#B415FF 100%);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Banner p{
    width:50%;
    text-align: center;
    font-size:24px;
    line-height:40px;
}
.Banner_action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight:500;
    margin-bottom:50px;

}
.Banner-connect{
    padding:25px 45px;
    border-radius: 50px;
    background:linear-gradient(267deg,#DF8908, 0.36%,#B415FF 100%);
    cursor:pointer;

}
.Banner-resume{
    padding:25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
   
    cursor:pointer;

}
.Banner-connect:hover{
    border: 2px solid #FFF;

}
.Banner-resume:hover{
    border-color: #B415FF;
}
@media(max-width:768px){
    .Banner img{
        margin-top:120px;
        width: 250px;
    }
    .Banner h1{
     margin-top: 50px;
     width: 90%;
     font-size:40px;
    }
    .Banner p{
        width:60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .Banner_action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom:50px;
    }
    .Banner-connect{
        padding:20px 30px;
        border-radius: 40px;
        
    } 
    .Banner-resume{
        padding:20px 60px;
        border-radius: 40px;
    }
}